<!DOCTYPE html>
<html lang="es">
<head>
<title>Admin</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
	/*fondo lila*/
	.lila-background{
		background-color: rgb(230, 192, 233, 1.0);
	}

	/*borde lila*/
	.lila-border{
		border-color: rgb(230, 192, 233, 1.0);
	}

	/* Estilos personalizados para el botón prev del carrusel */
    .carousel-control-custom {
      background-color: rgba(0, 0, 0, 0.5); /* Fondo gris transparente */
      width: 5%;  /*Ancho del botón */
      height: 14%; /*Altura del botón*/ 
      top: 43%;
    }

    .carousel-control-prev-custom:hover {
      background-color: rgba(0, 0, 0, 0.8); /* Cambio de color al pasar el cursor */
    }

    /* Opcional: Cambiar el color del icono del botón prev */
    .carousel-control-prev-custom i {
      color: white; /* Color del icono */
    }
</style>
</head>
<body>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="home" viewBox="0 0 16 16">
    		<path d="M8,1C6.755,1,5.561,1.489,4.562,2.34C3.13,3.468,2.247,5.273,2.247,7.469c0,1.407,0.726,2.652,1.862,3.548C5.54,12.807,6.563,13.5,8,13.5s2.459-0.693,3.891-1.483C13.027,10.121,14,8.876,14,7.469c0-2.196-0.884-4.001-2.315-5.129C10.439,1.489,9.245,1,8,1z M8,11c-1.178,0-2.138-0.85-2.138-1.898S6.822,7.953,8,7.953s2.138,0.85,2.138,1.898S9.178,11,8,11z"/>
		</symbol>
		<symbol id="medicos" viewBox="0 0 16 16">
			<path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
		</symbol>
		<symbol id="usuario" viewBox="0 0 16 16">
			<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
		</symbol>
		<symbol id="icono" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
  		<path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zm0-2h1v1h-1V3z"/>	
		</symbol>
		<symbol id="ingresos" viewBox="0 0 16 16">
			<path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
		</symbol>
	</svg>
	<main>
		<!--MENU PRINCIPAL-->
        <header class="row">
            <nav class="navbar navbar-expand-sm navbar-light fixed-top lila-background">
                <a class="navbar-brand" href="#"><img class="w-50 h-auto" src="img/lightAdoptionsLogo.svg" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                          <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a href="#" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Animales en Adopcion</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Animales Adoptados</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Datos Medicos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Veterinarios</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                		<li class="nav-item">
                    		<button class="btn btn-light">Logout</button>
                		</li>
            		</ul>
                </div>
            </nav>
        </header>

        <!-- CARRUSEL -->
        <section class="row justify-content-center mt-5">
            <div class="col-12 mt-3">
                <div class="carousel slide" id="carrusel" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid w-100" src="img/c1.jpg" alt="Primer elemento">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 d-block" src="img/c2.jpg" alt="Segundo elemento">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 d-block" src="img/c3.jpg" alt="Tercer elemento">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 d-block" src="img/c4.jpg" alt="Cuarto elemento">
                        </div>
                    </div>
                    <a class="carousel-control-prev carousel-control-custom" href="#carrusel" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next carousel-control-custom" href="#carrusel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="sr-only">Posterior</span>
                    </a>
                    <ol class="carousel-indicators">
                        <li data-target="#carrusel" data-slide-to="0" class="active"></li>
                        <li data-target="#carrusel" data-slide-to="1"></li>
                        <li data-target="#carrusel" data-slide-to="2"></li>
                        <li data-target="#carrusel" data-slide-to="3"></li>
                    </ol>
                </div>
            </div>
        </section>

        <section>
		<div class="text-center">
			<h1 class="display-5 fw-bold mt-5">BIENVENIDO A LIGHTADOPTIONS</h1>
			<div class="col-lg-6 mx-auto">
				<p class="lead mb-4">Aplicación para dar luz a animales desamparados</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-5">
					<a th:href="@{/usuariosView}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-4 lila-background lila-border">Gestionar usuarios</button></a>
					<a th:href="@{/animalesAdopcionView}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-4 lila-background lila-border">Gestionar animales en adopcion</button></a>
					<a th:href="@{/animalesAdoptadosView}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-4 lila-background lila-border">Gestionar animales adoptados</button></a>
					<a th:href="@{/datosMedicosView}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-4 lila-background lila-border">Gestionar datos medicos</button></a>
					<a th:href="@{/veterinariosView}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-4 lila-background lila-border">Gestionar veterinarios</button></a>
				</div>
			</div>
		</div>
		</section>
	</main>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>